h3{
    text-align: center;
    font-weight: bold;
}

.novalido{
    width: 5px;
    height:25px;
    background-color: RED;
    float:left;
    margin-right:4px;
}



label{
    width:150px;
}

textarea{
    width: 100%; 
}

.well {
    padding: 10px;
    margin: 10px;
}

.botonsubt{
    padding-left: 10px;
    margin-left: 10px;
}

footer{
    margin-bottom: 20px !important;
}


