<div class="loginpanel">
<div class="panel panel-default">
  <div class="panel-heading">Acceso Gestor de Tareas</div>
  <div class="panel-body">
      <div class="form-group">
        <label  style="width:100px;">Usuario</label>
        <input type="text" placeholder="usuario" [(ngModel)]="userlogin.email" />
      </div>  
      <div class="form-group">
        <label style="width:100px;">Clave</label>
        <input type="password"  [(ngModel)]="userlogin.clave" />
      </div>  
      <div class="form-group pull-right">
        <button type="button" class="btn btn-default" (click)="entradalogin()">
          Entrar
        </button>
      </div>  
  </div>  
</div>
</div>
