<nav class="navbar navbar-default">
<ul class="nav navbar-nav">

    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="/pendientes">Tareas pendientes</a>  </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="/tarea">Nueva tarea</a>  </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="/proyecto">Nuevo proyecto</a>  </li>
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a href="#" routerLink="/login">Cambiar de usuario</a>  </li>

</ul>
</nav>