<h3>PROYECTO</h3><hr/>

<form #form="ngForm" (ngSubmit)="guardarProyecto(form)">
  <section class="well">
    <article class="row" >
        <div class="col-md-10 form-group">
          <div *ngIf="!nproyecto.valid" class="novalido" ></div>
          <label >Nombre del proyecto:</label>
          <input type="text" size="80" maxlength="100" name="nombre" ngModel #nproyecto="ngModel" required > 
      </div> 
    </article> 

    <article class="row" >
      <div class="col-md-10 form-group">
        <div class="novalido" *ngIf="!descproyecto.valid"></div>
        <label >Descripción del proyecto:</label>
        <input type="text" size="80" maxlength="100" #descproyecto="ngModel" ngModel required name="descripcion"> 
      </div> 
    </article> 


  </section>
  <section class="well" style="text-align: right">
    <button class="btn btn-info" (click)="cancelarTarea()">Cancelar</button>
    <button [disabled] = "!form.valid" class="btn btn-success" type="submit" >Guardar</button>
  </section>
</form>
