.elemento {
    padding:10px;
    width:500px;
}
.lbl_etiqueta{
    width:200px;
}
.novalido{
    width: 5px;
    height:15px;
    background-color: RED;
    float:left;
    margin-right:4px;
}

.valido{
    width: 5px;
    height:15px;
    background-color: GREEN;
    float:left;
    margin-right:4px;
}