<section class="container-fluid">
  
  <button type="button" class="btn btn-link" (click)="mostrarFiltro(linkfiltro,textofiltro)">
    <span class="glyphicon glyphicon-chevron-down" #linkfiltro></span>
    <span #textofiltro> Ocultar filtro</span>
  </button>
  <div id="buscador" class="well" [@filtroVisible]="mostrar">
    <form class="row">
        <div class="col-md-6">
            <label >Descripción:</label>
            <input type="text" class="form-control" [(ngModel)]="filtro.descripcion" name="descripcion" [ngModelOptions]="{standalone: true}" #descripciont> 
        </div>
        <div class="col-sm-2">
          <label for="cbproyectos">Proyecto:</label> 
          <select id="cbproyectos" [(ngModel)]="filtro.idproyecto" [ngModelOptions]="{standalone: true}"  class="form-control" (ngModelChange)="listarTareas()">
              <option value=""></option>
            <option *ngFor="let item of proyectos" value="{{item.id_proyecto}}">{{item.nombre_proyecto}}</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label >Estado:</label> 
          <select id="cbestado" [(ngModel)]="filtro.estado" [ngModelOptions]="{standalone: true}"  class="form-control" (ngModelChange)="listarTareas()">
            <option value=""></option>
            <option value="Sin iniciar">Sin iniciar</option>
            <option value="Iniciado">Iniciado</option>
            <option value="Avanzado">Avanzado</option>
            <option value="Detenido">Detenido</option>
            <option value="Finalizado">Finalizado</option>
            <option value="Terminado">Terminado</option>
          </select>
      </div>
    </form>
    </div>
     <div class="contenTable">
    <table class="table table-bordered table-responsive table-striped table-hover" >
      <thead>
        <th class="text-center">Proyecto</th>
        <th class="text-center">Descripción</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Fecha inicio</th>
        <th class="text-center">Fecha fin</th>
      </thead>
      <tr *ngFor="let item of tareas" (click)="editarTarea(item.id)">
        <td class="cursor">{{item.nombreproyecto}}</td>
        <td class="cursor">{{item.descripcion}}</td>
        <td class="text-center cursor" [style.color]= "colorEstado(item.estado)">{{item.estado}}</td>
        <td class="text-center cursor">{{item.fechaInicio}}</td>
        <td class="text-center cursor">{{item.fechaFin}}</td>
      </tr>
    </table>
 
  </div>
  <footer class="well" style="text-align: right">
    
  </footer>
</section>

  